 <div class="user-details">
  <h1> About COVID-19 </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Apple</h2>
      <img alt="mountains" src="/home/assets/img/google_logo.png"/>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Facebook</h2>
      <img alt="mountains" src="/home/assets/img/google_logo.png"/>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
     <h2>Microsoft</h2>
     <img alt="mountains" src="/home/assets/img/google_logo.png"/>
     <p><a href="https://www.google.com">google</a></p>
    </div>
    <div class="tech">
     <h2>Google</h2>
     <img alt="mountains" src="/home/assets/img/google_logo.png"/>
     <p><a href="https://www.google.com">google</a></p>
    </div>
</div>
