 <div class="user-details">
  <h1> About COVID-19 </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Apple</h2>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Facebook</h2>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
     <h2>Microsoft</h2>
     <p><a href="https://www.google.com">google</a></p>
    </div>
    <div class="tech">
     <h2>Google</h2>
     <p><a href="https://www.google.com/covid19/?utm_source=google&utm_medium=hpp&utm_campaign=cv">COVID-19 Information</a></p>
    </div>
</div>
